---
import Layout from "./Layout.astro"

export interface Props {
  title: string,
  description: string,
  pubDate: Date,
}

const {title, description, pubDate} = Astro.props;
---

<Layout>
  <main class="post text-lg text-neutral-600 dark:text-neutral-300 leading-relaxed text-justify">
  <slot />
  </main>
</Layout>
